* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    background-color: #073663;


}

input,
textarea,
button {
    outline: none;
    border: none;
    resize: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}